html {
    font-size: 10px;
}

body {
    font-family: 'TT Norms', sans-serif;
    font-variant: no-common-ligatures;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 120%;
    margin: 0;
    //background-color: $color-pink;
    background-color: var(--color-primary);
    overflow-x: hidden;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration:none;
}
a:active, a:focus {
    outline: none;
    box-shadow: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: none !important;
}

a, button, label, p, span, select, option, div::before, div::after, input, textarea {
    transition: all .2s ease;
}

::placeholder,
:focus::placeholder {
    opacity: 0;
    transition: opacity .4s ease;
}

.hidden {
    display: none;
}
.visible {
    display: block;
}

img {
    display: block;
    max-width: 100%;
}

a,
button,
input,
label,
select,
textarea {
    touch-action: manipulation;
}

figure,
li {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

label {
    margin: 0;
}

b,
strong {
    font-weight: bolder;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
    overflow: visible;
    &:disabled {
        pointer-events: none;
        cursor: not-allowed;
    }
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=number],
input[type=date],
input[type=submit],
input[type=reset],
input[type=file],
input[type=button]
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 100%;
    outline: none;
    border-radius: 0;
}

textarea {
    overflow: auto;
}

body,
ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select,
table {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-width: 0;
    border-spacing: 0;
    border-color: transparent;

    th {
        font-weight: normal;
        text-align: left;
    }
}

[hidden] {
    display: none;
}

figcaption,
figure,
main,
article,
aside,
footer,
header,
nav,
section {
    display: block;
}

a {
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        opacity: 0.85;
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
    }
}

input::-webkit-input-placeholder {
    opacity: 1;
    color: inherit;
    font-size: inherit;
}

input::-moz-placeholder {
    opacity: 1;
    color: inherit;
    font-size: inherit;
}

input:-moz-placeholder {
    opacity: 1;
    color: inherit;
    font-size: inherit;
}

input:-ms-input-placeholder {
    opacity: 1;
    color: inherit;
    font-size: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[name=personalDataAgree],
input[name=saveInput]
{
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.wrapper {
    position: relative;
    min-width: 360px;
    width: 100%;
    height: 100%;
    margin: auto;
    color: #16182B;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

.hidden {
    display: none !important;
}

.widget-form-privacy {
    display: none;
}

.fancybox-close-small {
    display: none;
}

.fancybox-inner {
    height: 100%;
}

.fancybox-active {
    height: inherit !important;
    overflow: hidden !important;
}

.fancybox-white .fancybox-bg {
    display: none;
}

.fancybox-bg {
    background: #7793ff !important;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #4F6BFF;
    border-radius: .4rem;
}

::-webkit-scrollbar {
    width: .6rem;
}